<div
  class="flex justify-center items-center h-[90vh] md:h-screen bg-gray-100 p-4 md:p-0"
>
  <div class="w-full max-w-md p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold text-center mb-4 text-primary-800">Login</h2>
    <!-- <p-button
      type="button"
      pRipple
      (click)="showSuccess()"
      label="Success"
      severity="success"
    /> -->

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-input-wrapper
        [control]="loginForm.get('usernameOrEmail')"
        [errorMessages]="{
          required: 'Usernae or Email is required',
          email: 'Invalid email'
        }"
        label="Username or Email"
      >
        <input
          pInputText
          formControlName="usernameOrEmail"
          class="w-full p-2 border rounded-md"
        />
      </app-input-wrapper>

      <app-input-wrapper
        [control]="loginForm.get('password')"
        [errorMessages]="{
          required: 'Password is required',
          minlength: 'Min 6 characters'
        }"
        label="Password"
      >
        <p-password
          formControlName="password"
          [feedback]="false"
          class="w-full"
          styleClass="w-full"
          inputStyleClass="w-full"
          [toggleMask]="true"
        ></p-password>
      </app-input-wrapper>

      <div class="flex flex-col md:flex-row justify-between gap-3">
        <span class="text-sm md:text-base"
          >Don't have account,
          <span
            [routerLink]="registerRoute"
            class="cursor-pointer text-blue-600 font-semibold underline underline-offset-2"
            >Register here!</span
          >
        </span>
        <span
          [routerLink]="forgotPasswordRoute"
          class="cursor-pointer text-sm md:text-base text-blue-600 font-semibold underline underline-offset-2"
          >Forgot Password?</span
        >
      </div>

      <button
        pButton
        type="submit"
        label="Login"
        class="w-full mt-2"
        [disabled]="loginForm.invalid"
      ></button>
    </form>
  </div>
</div>
