<div class="container mx-auto px-4 py-0">
  <!-- Loading State -->
  <div
    *ngIf="isLoading"
    class="flex flex-col justify-center items-center min-h-[200px]"
  >
    <div class="bg-white rounded-lg shadow-md max-w-4xl p-6 mb-6 w-full">
      <div class="flex flex-col md:flex-row items-center md:items-start gap-6">
        <!-- Avatar -->
        <div class="flex flex-col gap-4 justify-center items-center">
          <div class="rounded-full overflow-hidden">
            <p-skeleton shape="circle" size="4rem"></p-skeleton>
          </div>
        </div>

        <!-- User Info -->
        <div class="flex-1">
          <div class="flex justify-between items-start">
            <div class="flex flex-col w-full">
              <p-skeleton height="2rem" class="mb-2 w-[160px]"></p-skeleton>
              <p-skeleton height="1rem" class="mb-2"></p-skeleton>
              <p-skeleton height="1rem" class="mb-2"></p-skeleton>
              <p-skeleton height="1rem" class="mb-2"></p-skeleton>
              <p-skeleton height="1rem" class="mb-2"></p-skeleton>
              <p-skeleton height="1rem"></p-skeleton>
            </div>

            <!-- <button pButton class="p-button-text text-nowrap w-fit"></button> -->
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col space-y-4 w-full !min-w-4xl max-w-4xl">
      <div class="flex justify-between items-center">
        <span class="text-lg font-bold">Posts</span>
        <!-- Create Post Button (only for own profile) -->
      </div>

      <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
    </div>
  </div>

  <!-- Profile Content -->
  <div *ngIf="!isLoading" class="max-w-4xl mx-auto">
    <!-- Profile Header -->
    <div class="bg-white rounded-lg shadow-md p-6 mb-6 relative md:static">
      <div class="flex flex-col md:flex-row items-center md:items-start gap-6">
        <!-- Avatar -->
        <div class="flex flex-col gap-4 justify-center items-center">
          <div class="rounded-full overflow-hidden">
            @if(user.avatar){
            <p-avatar
              [image]="user.avatar"
              shape="circle"
              size="xlarge"
              styleClass="object-cover"
            ></p-avatar>
            }@else {
            <p-avatar
              icon="pi pi-user"
              shape="circle"
              size="xlarge"
              styleClass="bg-gray-200 text-gray-600"
            ></p-avatar>
            }
          </div>
          <!-- Edit Profile Button (only for own profile) -->
          <p-button
            *ngIf="canEditProfile"
            type="button"
            icon="pi pi-pencil"
            label="Edit Profile"
            styleClass="text-nowrap"
            (click)="openUpdateDialog()"
            class="hidden md:block"
          ></p-button>
        </div>

        <!-- User Info -->
        <div class="flex-1">
          <div class="flex justify-between items-start">
            <div>
              <div>
                <h1
                  class="text-2xl font-bold text-gray-900 text-center md:text-start"
                >
                  {{ user.name }}
                </h1>
              </div>
              <p class="text-gray-600 mt-1">{{ user.bio || "No bio" }}</p>
            </div>

            <!-- <button pButton class="p-button-text text-nowrap w-fit"></button> -->
          </div>

          <!-- Skills -->
          <div class="mt-4" *ngIf="skills.length">
            <div class="flex items-center flex-wrap gap-2">
              Skills:
              <p-chip
                *ngFor="let skill of skills"
                [label]="skill"
                class="bg-primary-100 text-primary-700"
              ></p-chip>
            </div>
          </div>

          <!-- Social Links -->
          <div class="mt-4 flex flex-wrap gap-4">
            <a
              *ngIf="user.social.github"
              [href]="user.social.github"
              target="_blank"
              class="group"
            >
              <p-chip class="!py-0 !pl-0 !pr-2 !gap-0 align-middle">
                <span
                  class="bg-gray-600 text-white group-hover:text-black rounded-full w-8 h-8 flex items-center justify-center"
                >
                  <i class="pi pi-github"></i>
                </span>
                <span class="ml-1 text-sm"> Github </span>
              </p-chip>
            </a>
            <a
              *ngIf="user.social.linkedin"
              [href]="user.social.linkedin"
              target="_blank"
              class="group"
            >
              <p-chip class="!py-0 !pl-0 !pr-2 !gap-0 align-middle">
                <span
                  class="bg-gray-600 text-white group-hover:text-blue-300 rounded-full w-8 h-8 flex items-center justify-center"
                >
                  <i class="pi pi-linkedin"></i>
                </span>
                <span class="ml-1 text-sm"> Linkedin </span>
              </p-chip>
            </a>
            <a
              *ngIf="user.social.twitter"
              [href]="user.social.twitter"
              target="_blank"
              class="group"
            >
              <p-chip class="!py-0 !pl-0 !pr-2 !gap-0 align-middle">
                <span
                  class="bg-gray-600 text-white group-hover:text-blue-300 rounded-full w-8 h-8 flex items-center justify-center"
                >
                  <i class="pi pi-twitter"></i>
                </span>
                <span class="ml-1 text-sm"> Twitter </span>
              </p-chip>
            </a>
            <a
              *ngIf="user.social.website"
              [href]="user.social.website"
              target="_blank"
              class="group"
            >
              <p-chip class="!py-0 !pl-0 !pr-2 !gap-0 align-middle">
                <span
                  class="bg-gray-600 text-white group-hover:text-black rounded-full w-8 h-8 flex items-center justify-center"
                >
                  <i class="pi pi-globe"></i>
                </span>
                <span class="ml-1 text-sm"> Website </span>
              </p-chip>
            </a>
          </div>

          <div
            *ngIf="!isOwnProfile && isAdmin"
            class="mt-4 flex flex-wrap gap-2 items-center"
          >
            Roles:
            <p-multiselect
              [options]="roles"
              [(ngModel)]="selectedRoles"
              optionLabel="name"
              optionValue="enum"
              placeholder="Select Roles"
              [maxSelectedLabels]="3"
              [emptyMessage]="'Atleast one role should be assigned'"
              styleClass="w-full md:w-80"
              [loading]="updatingRoles"
              [disabled]="updatingRoles"
              (onPanelHide)="onRolesChange($event)"
              (onChange)="sortRoles()"
            />
          </div>
        </div>
      </div>
      <p-button
        *ngIf="canEditProfile"
        type="button"
        icon="pi pi-pencil"
        styleClass="text-nowrap rounded-full h-10 "
        (click)="openUpdateDialog()"
        class="block md:hidden top-4 right-4 absolute"
      ></p-button>
    </div>

    <!-- Posts Section -->
    <div class="flex flex-col space-y-4">
      <div class="flex justify-between items-center">
        <span class="text-lg font-bold">Posts</span>
        <!-- Create Post Button (only for own profile) -->
        <div *ngIf="canCreatePost" class="flex justify-end">
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            label="Create Post"
            (click)="openPostDialog()"
          ></button>
        </div>
      </div>

      <!-- Posts List -->
      <app-infinite-scroll
        [loadMoreData]="loadMorePosts"
        [itemTemplate]="postTemplate"
        [loadingTemplate]="loadingTemplate"
        (itemSelected)="onPostSelected($event)"
      >
        <ng-template #postTemplate let-post>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <app-post-card
              *ngFor="let post of posts"
              [postData]="post"
              (postUpdated)="onPostUpdated($event)"
              (postDeleted)="onPostDeleted($event)"
            ></app-post-card>
          </div>
        </ng-template>
      </app-infinite-scroll>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="bg-white rounded-lg shadow-md p-4">
      <div class="flex flex-col gap-3">
        <!-- Post Content -->
        <div class="relative">
          <div class="flex flex-col gap-2">
            <p-skeleton height="2rem" class="mb-2"></p-skeleton>
            <p-skeleton height="1rem" class="mb-2"></p-skeleton>
            <p-skeleton height="1rem" class="mb-2"></p-skeleton>
            <p-skeleton height="1rem"></p-skeleton>
          </div>
        </div>
        <!-- Post Footer -->
        <div class="flex items-centerb gap-4 pt-2 border-t border-gray-100">
          <div class="flex items-center gap-2">
            <p-button
              type="button"
              [outlined]="true"
              [loading]="true"
              styleClass="border-none"
            >
            </p-button>
            <p-skeleton height="1rem" class="w-[40px]"></p-skeleton>
          </div>
          <div class="flex items-center gap-2">
            <p-button
              type="button"
              [outlined]="true"
              [loading]="true"
              styleClass="border-none"
            >
            </p-button>
            <p-skeleton height="1rem" class="w-[40px]"></p-skeleton>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white rounded-lg shadow-md p-4">
      <div class="flex flex-col gap-3">
        <!-- Post Content -->
        <div class="relative">
          <div class="flex flex-col gap-2">
            <p-skeleton height="2rem" class="mb-2"></p-skeleton>
            <p-skeleton height="1rem" class="mb-2"></p-skeleton>
            <p-skeleton height="1rem" class="mb-2"></p-skeleton>
            <p-skeleton height="1rem"></p-skeleton>
          </div>
        </div>
        <!-- Post Footer -->
        <div class="flex items-centerb gap-4 pt-2 border-t border-gray-100">
          <div class="flex items-center gap-2">
            <p-button
              type="button"
              [outlined]="true"
              [loading]="true"
              styleClass="border-none"
            >
            </p-button>
            <p-skeleton height="1rem" class="w-[40px]"></p-skeleton>
          </div>
          <div class="flex items-center gap-2">
            <p-button
              type="button"
              [outlined]="true"
              [loading]="true"
              styleClass="border-none"
            >
            </p-button>
            <p-skeleton height="1rem" class="w-[40px]"></p-skeleton>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white rounded-lg shadow-md p-4">
      <div class="flex flex-col gap-3">
        <!-- Post Content -->
        <div class="relative">
          <div class="flex flex-col gap-2">
            <p-skeleton height="2rem" class="mb-2"></p-skeleton>
            <p-skeleton height="1rem" class="mb-2"></p-skeleton>
            <p-skeleton height="1rem" class="mb-2"></p-skeleton>
            <p-skeleton height="1rem"></p-skeleton>
          </div>
        </div>
        <!-- Post Footer -->
        <div class="flex items-centerb gap-4 pt-2 border-t border-gray-100">
          <div class="flex items-center gap-2">
            <p-button
              type="button"
              [outlined]="true"
              [loading]="true"
              styleClass="border-none"
            >
            </p-button>
            <p-skeleton height="1rem" class="w-[40px]"></p-skeleton>
          </div>
          <div class="flex items-center gap-2">
            <p-button
              type="button"
              [outlined]="true"
              [loading]="true"
              styleClass="border-none"
            >
            </p-button>
            <p-skeleton height="1rem" class="w-[40px]"></p-skeleton>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Edit Profile Dialog -->
<app-profile-update
  [(isOpen)]="isUpdateDialogOpen"
  (isOpenChange)="closeUpdateDialog($event)"
  [userData]="user"
></app-profile-update>

<!-- Create Post Dialog -->
<app-post-handler
  [(isOpen)]="isPostDialogOpen"
  (postCreated)="onPostCreated($event)"
  (isOpenChange)="closePostDialog($event)"
></app-post-handler>
