<div
  class="bg-primary-600 text-primary-50 px-2 py-2 rounded-md shadow-md m-5 mt-4"
>
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-4">
      <!-- Mobile Menu Button -->
      <button
        pButton
        type="button"
        icon="pi pi-bars"
        class="lg:hidden"
        (click)="onMenuClick()"
      ></button>
      <span class="text-xl font-semibold">DevConnect</span>
    </div>
    <div class="flex items-center gap-4">
      <p-button
        type="button"
        icon="pi pi-sign-out"
        label="Logout"
        (click)="onLogout()"
        class="md:block hidden"
      >
      </p-button>
      <p-button
        type="button"
        icon="pi pi-sign-out"
        (click)="onLogout()"
        class="md:hidden block"
      >
      </p-button>
    </div>
  </div>
</div>
