<div
  class="flex justify-center items-center h-[90vh] md:h-screen bg-gray-100 p-4 md:p-0"
>
  <div class="w-full max-w-md p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold text-gray-900">Forgot Password</h2>
    <p class="mt-2 text-sm text-gray-600">
      Enter your registerd email address or username and we'll send you a link to reset your password.
    </p>
    <form
      [formGroup]="forgetPasswordForm"
      (ngSubmit)="onSubmit()"
      class="space-y-6 mt-6"
    >
      <app-input-wrapper
        [control]="forgetPasswordForm.get('usernameOrEmail')"
        [errorMessages]="{
          required: 'Usernae or Email is required',
          email: 'Invalid email'
        }"
        label="Username or Email"
      >
        <input
          pInputText
          formControlName="usernameOrEmail"
          class="w-full p-2 border rounded-md"
        />
      </app-input-wrapper>

      <div>
        <p-button
          type="submit"
          label="Send Reset Link"
          [loading]="loading"
          styleClass="w-full"
          [disabled]="forgetPasswordForm.invalid || loading"
        ></p-button>
      </div>

      <div class="text-center">
        <a
          routerLink="/auth/login"
          class="text-sm text-primary-600 hover:text-primary-500"
        >
          Back to login
        </a>
      </div>
    </form>
  </div>
</div>
