<!-- <div class="flex h-screen overflow-hidden">
  <div class="relative flex flex-col flex-1">
    <app-header class="w-full"></app-header>
    <main class="absolute inset-0 top-[4rem] overflow-y-auto overflow-x-hidden scrollbar-hide">
      <router-outlet></router-outlet>
    </main>
  </div>
</div> -->

<div class="relative flex w-full bg-gray-100 antialiased">
  <!-- Desktop Sidebar -->
  <aside class="sticky top-0 hidden h-full w-[250px] lg:block">
    <app-sidebar class="hidden md:block h-full"></app-sidebar>
  </aside>

  <div class="relative w-full overflow-auto overflow-x-hidden" style="height: 100vh">
    <app-header class="w-full" (menuClick)="toggleSidebar()"></app-header>
    <div class="m-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- Mobile Sidebar -->
<app-sidebar
  class="md:hidden"
  [visible]="sidebarVisible"
></app-sidebar>

<app-profile-update
  [isOpen]="showProfileUpdate"
  [closable]="isProfileUpdateClosable"
  (isOpenChange)="showProfileUpdate = $event"
  (profileUpdated)="onProfileUpdateComplete()"
></app-profile-update>
