
@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}
@layer primeng;
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}



// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.p-panelmenu {
  @apply gap-0;
}
