
@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}
@layer primeng;
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


// ✅ QUILL CSS ISOLATED IMPORT
/* isolate quill CSS from Tailwind */


// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

// html,
// body {
//   width: 100vw;
//   height: 100vh;
// }

// body {
//   top: 0;
//   left: 0;
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: 1fr;
//   overflow: hidden;
// }

/* styles.css or global styles */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.p-avatar-circle{
  img{
    @apply object-cover 
  }
}