<div class="w-full relative">
  <div class="w-full">

    <ng-container *ngIf="loading">
      <ng-container *ngTemplateOutlet="loadingTemplate || defaultLoadingTemplate"></ng-container>
    </ng-container>

    <ng-container
      *ngTemplateOutlet="itemTemplate; context: { $implicit: items }"
    >
    </ng-container>

    

    <ng-template #defaultLoadingTemplate>
      <div class="py-4 text-center text-gray-600">Loading...</div>
    </ng-template>

    <div
      *ngIf="!loading && items.length === 0"
      class="py-4 text-center text-gray-600"
    >
      No items found
    </div>
  </div>

  <div #loadMoreTrigger [id]="identifier" class="h-5 w-full"></div>
</div>
