<div
  class="flex justify-center items-center h-[90vh] md:h-screen bg-gray-100 p-4 md:p-0"
>
  <div class="w-full max-w-md p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold text-gray-900">Reset Password</h2>
    <p class="mt-2 text-sm text-gray-600">Enter your new password below</p>

    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
      class="space-y-6"
    >
      <app-input-wrapper
        [control]="resetPasswordForm.get('newPassword')"
        [errorMessages]="{
          required: 'Password is required',
          minlength: 'Min 6 characters'
        }"
        label="New Password"
      >
        <p-password
          formControlName="newPassword"
          [feedback]="false"
          class="w-full"
          styleClass="w-full"
          inputStyleClass="w-full"
          [toggleMask]="true"
        ></p-password>
      </app-input-wrapper>

      <app-input-wrapper
        [control]="resetPasswordForm.get('confirmPassword')"
        [errorMessages]="{
          required: 'Password is required',
          minlength: 'Min 6 characters'
        }"
        label="Confirm Password"
      >
        <p-password
          formControlName="confirmPassword"
          [feedback]="false"
          class="w-full"
          styleClass="w-full"
          inputStyleClass="w-full"
          [toggleMask]="true"
        ></p-password>
      </app-input-wrapper>

      <div>
        <p-button
          type="submit"
          label="Reset Password"
          [loading]="loading"
          styleClass="w-full"
          [disabled]="resetPasswordForm.invalid || loading"
        ></p-button>
      </div>

      <div class="text-center">
        <a
          routerLink="/auth/login"
          class="text-sm text-primary-600 hover:text-primary-500"
        >
          Back to login
        </a>
      </div>
    </form>
  </div>
</div>
